*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(230, 206, 148);
}


.button{
    margin-top: 2rem;
    padding: 10px 20px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 20px;
    background:linear-gradient(to top, rgb(216, 168, 168)34% , rgb(175, 143, 113)100%);

    padding: 10px 15px;
    width: 27%;
    color: rgb(5, 5, 5);
}

.button:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.03);
}

.input{
    margin: 12px;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    padding: 10px 15px;
    width: 80%;
}

.form{
    display: flex;
    flex-direction: column;
    size: 4.2rem;
    margin: 110px auto;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 143, 122);
}

h1{
    margin-bottom: 2rem;
    color: rgb(186, 218, 218);
}